@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

@font-face {
    font-family: myfont;
    src: url(/fonts/_mtavruli.ttf);
}
@font-face {
    font-family: unicode;
    src: url(/fonts/3d_unicode.ttf);
}
body{
    background-color:rgb(57, 16, 57);
}
header{
    height:80px;
    background-color: rgb(88, 26, 88);
}
.wrapper{
    width: 1000px;
    margin:  auto;
}
.logo{
    float: left;
    font-size: 20;
    position: relative;
    bottom:13px;
    font-family: 'Caveat', cursive;
    /* text-shadow: 1px 2px 4px; */
    color: white;
    
}
.menu-button{
    background-color: transparent;
    padding: 15px;
    font-size: 20px;
    border:none;
    font-family: unicode;
    font-weight: 600;
    color: white;
}
.right-menu{
    position: relative;
    float: right;
}
.dropdown-menu{
    visibility: hidden;
    position: absolute;
    min-width: 110px;
    background-color: rgba(42, 13, 42, 0.734);
    border-radius: 10px;
}
.dropdown-menu a{
    text-decoration: none;
    margin: 5px;
    font-family: unicode;
    color:rgb(255, 255, 255);
}
.dropdown-menu a:hover{
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    font-weight: 600;
}
.right-menu:hover .dropdown-menu{
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.wrapper2{
    position: relative;
    top: 90px;
    left: 100px;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid purple;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 0 30px black;
            box-shadow: 0 0 30px black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: caveat;
    overflow: hidden;
    transition: height .2s ease;
}

h1{
    color: white;
    font-family: unicode;
    margin-left: 50px;
}

p {
    color: white;
    font-family: unicode;
    width: 50%;
    margin-left: 50px;
}

#img{
 margin-left: 1000px;
 position: relative;
 bottom: 550px;
}
#img1{
    margin-left: 1000px;
    position: relative;
    bottom: 500px;
    
   }

h3{
    color: white;
    font-family: unicode;
   }
#h1{
    position: relative;
    bottom: 350px;
    margin-left: 700px;
}
.mergerdivv{
    position: relative;
    bottom: 300px;
}
h3{
    margin-left: 700px;
}
#ptag{
    margin-left: 700px;
}

 #image1{
    position: relative;
    bottom: 1380px;
    margin-left: 50px;
}
#image2{
    position: relative;
    bottom: 1000px;
    right: 500px;
}
#image3{
    position: relative;
    bottom: 900px;
    left: 50px;
}
#image4{
    position: relative;
    bottom: 400px;
    right: 500px;
}
#image5{
        position: relative;
        bottom: 250px;
        left: 5px;
    }
#image6{
        position: relative;
        top: 200px;
        right: 500px;
    }
