/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@font-face {
    font-family: unicode;
    src: url(/fonts/3d_unicode.ttf);
}
body{
    background-color:rgb(57, 16, 57);
}
header{
    height:80px;
    background-color: rgb(88, 26, 88);
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.logo{
    float: left;
    font-size: 20;
    position: relative;
    bottom:13px;
    font-family: 'Caveat', cursive;
    /* text-shadow: 1px 2px 4px; */
    color: white;
    
}
.menu-button{
    background-color: transparent;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border:none;
    font-family: unicode;
    font-weight: 600;
    color: white;
}
.loginbutton{
    margin-left: 90px;
}
.right-menu{
    position: relative;
    float: right;
}
.dropdown-menu{
    display: none;
    position: absolute;
    min-width: 110px;
    z-index: 1;
    background-color: rgba(42, 13, 42, 0.734);
    border-radius: 10px;
}
.dropdown-menu a{
    text-decoration: none;
    margin: 3px;
    font-family: unicode;
    color:rgb(255, 255, 255);
}
.dropdown-menu a:hover{
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    font-weight: 600;
}
.right-menu:hover .dropdown-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.mergery{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px;
}
.mergery h2{
    font-family: unicode;
    font-size: 70px;
    color: white;
}
.mergery h3{
    font-family: unicode;
    color: white;
    margin-right: 80px;
}
.description{
position: relative;
left: 70px;
top: 50px;
}
.mergerdiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.mergerdiv3 p{
    position: relative;
    bottom: 150px;
    margin-left: 420px;
    font-size: 30;
}
.fa-brands{
    font-size: 30px;
    color: purple;
    margin: 5px;
}
.fa-brands:hover{
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    color: white;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    font-size: 33px;
}
.mergerdiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.lastmenu a{
    text-decoration: none;
    color: white;
    margin:10px;
    font-family: unicode;
    font-weight: 600;
}
.lastmenu a:hover{
    text-shadow: 1px 2px 2px rgb(255, 0, 247);
}
.lastp p{
    color: aliceblue;
    font-family: caveat;
}
 footer{
    background-color: #581a58;
    padding: 10px;
    width: auto;
 }
 iframe{
    border-style: none;
    -webkit-box-shadow: 5px 8px 8px ;
            box-shadow: 5px 8px 8px ;
 }
 .mob-container{
    visibility: hidden;
 }
 @media (min-width:320px) and (max-width:767px){
    main{
        height:5600px;
    }
    .wrapper{
        width: 300px;
        margin:10px;
    }
    .right-menu{
        display: none;
    }
    .mob-container{
        visibility: visible;
        max-width: 100px;
        margin: auto;  
        border-radius: 10px;
    }
    .mainNav #navLinks a{
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-family: unicode;
        margin-left: 200px;
        max-width: 480px;
        font-size: 20px;
        color: white;
    }
    .icon{
        display: block;
        position: absolute;
        right: 50;
        top: 28;
        font-size: 30px;
        color: white;
    }
    img{
        width: 380px;
        margin-right: 85px;
    }
    .mergery{
        display: contents;

    }
    .description #h2{
        font-family: unicode;
        font-size: 25px;
        color: white;
        /* margin-right: 30px; */
    }
    .description #h3{
        font-family: unicode;
        color: white;
        /* margin-right: 80px; */
        font-size: 20px;
    }
    .description{
        position: relative;
        left: 10px;
        bottom: 0px;
        top: 0px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .right-menu{
        margin-right: 100px;
    }
    .logo{
        margin-left: 100px;
    }
    .description{
        margin-right: 40px;
    }
    .description h2{
        font-size: 60px;
    }
}